@model IEnumerable<DABugTracker.Models.Ticket>

@{
    ViewData["Title"] = "All Tickets";
}

<h1>All Tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivedByProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitterUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Archived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArchivedByProject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeveloperUser.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmitterUser.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container-fluid">
    <div class="row">
        <h1>Archived Projects</h1>
        <div class="col-sm-4">
            <a asp-action="Create" class="btn btn-purple rounded-pill w-md waves-effect waves-light mb-3"><i class="mdi mdi-plus"></i> Create Project</a>
        </div>
        <div class="col-sm-8">
            <div class="float-end">
                <form class="row g-2 align-items-center mb-2 mb-sm-0">
                    <div class="col-auto">
                        <div class="d-flex">
                            <label class="d-flex align-items-center">
                                Phase
                                <select class="form-select form-select-sm d-inline-block ms-2">
                                    <option>All Projects(6)</option>
                                    <option>Complated</option>
                                    <option>Progress</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="d-flex">
                            <label class="d-flex align-items-center">
                                Sort
                                <select class="form-select form-select-sm d-inline-block ms-2">
                                    <option>Date</option>
                                    <option>Name</option>
                                    <option>End date</option>
                                    <option>Start Date</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- end col-->
    </div>
    <!-- end row -->


    <div class="container-fluid">

        <div class="row">
            <h1>Project Details</h1>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Ticket Name</th>
                                        <th>Created Date</th>
                                        <th>Submitter</th>
                                        <th>Developer</th>
                                        <th>Priority</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Ticket ticket in Model)
                                    {
                                        <tr>
                                            <td>@ticket.Project!.Name</td>
                                            <td>@ticket.Title</td>
                                            <td>@ticket.Created.ToString("dd MMMM yyyy")</td>
                                            <td>@ticket.SubmitterUser!.FullName</td>
                                            @if (ticket.DeveloperUserId == null)
                                            {
                                                <td><a class="btn btn-sm btn-outline-warning">Unassigned</a></td>
                                            }
                                            else
                                            {
                                                <td>@ticket.DeveloperUser!.FullName</td>
                                            }

                                            @if (ticket.TicketPriority!.Name == "Low")
                                            {
                                                <td><span class="badge bg-success">@ticket.TicketPriority!.Name</span></td>
                                            }
                                            else if (ticket.TicketPriority!.Name == "Medium")
                                            {
                                                <td><span class="badge bg-primary">@ticket.TicketPriority!.Name</span></td>
                                            }
                                            else if (ticket.TicketPriority!.Name == "High")
                                            {
                                                <td><span class="badge bg-warning">@ticket.TicketPriority!.Name</span></td>
                                            }
                                            else if (ticket.TicketPriority!.Name == "Urgent")
                                            {
                                                <td><span class="badge bg-danger">@ticket.TicketPriority!.Name</span></td>
                                            }
                                            <td><a asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-sm btn-soft-dark">Details</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->
